---
# the section is about C++ code
Language: Cpp
Standard: Cpp11

BasedOnStyle:                                   Google
AccessModifierOffset:                           -1
ConstructorInitializerIndentWidth:              2
AlignEscapedNewlinesLeft:                       false
AlignTrailingComments:                          true
# AllowAllParametersOfDeclarationOnNextLine:    true
AllowAllParametersOfDeclarationOnNextLine:      false
AllowShortIfStatementsOnASingleLine:            true
AllowShortLoopsOnASingleLine:                   false
AllowShortFunctionsOnASingleLine:               false
AllowShortBlocksOnASingleLine:                  false
AllowShortCaseLabelsOnASingleLine:              false
AlwaysBreakTemplateDeclarations:                true
AlwaysBreakBeforeMultilineStrings:              true
BreakBeforeBinaryOperators:                     false
BreakBeforeTernaryOperators:                    false
BreakInheritanceList:                           BeforeComma
BreakConstructorInitializersBeforeComma:        true
BreakConstructorInitializers:                   BeforeComma
# BreakConstructorInitializers:                 AfterColon
BinPackParameters:                              true
BinPackArguments:                               true
# BinPackArguments:                             false
# BinPackParameters:                            false
# ExperimentalAutoDetectBinPacking:             false
# AllowAllParametersOfDeclarationOnNextLine:    false
# BreakBeforeBraces:                            Custom
# BreakBeforeBraces:                            Stroustrup
# BraceWrapping:
#   AfterClass:                                 true
#   AfterControlStatement:                      true
#   AfterEnum:                                  true
#   AfterFunction:                              true
#   AfterNamespace:                             true
#   AfterObjCDeclaration:                       true
#   AfterStruct:                                true
#   AfterUnion:                                 true
#   BeforeCatch:                                true
#   BeforeElse:                                 true
#   IndentBraces:                               true
#   SplitEmptyFunction:                         true
#   SplitEmptyRecord:                           true
#   SplitEmptyNamespace:                        true
#
BreakBeforeBraces:                              Custom
BraceWrapping:
  # AfterClass:                                     true
  # AfterControlStatement:                        true
  AfterEnum:                                    true
  # AfterEnum:                                    false
  # AfterFunction:                                true
  # AfterNamespace:                               false
  # AfterStruct:                                  true
  # AfterUnion:                                   true
  # BeforeCatch:                                  true
  # BeforeElse:                                   true
ColumnLimit:                                    120
# ConstructorInitializerIndentWidth:            2
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth:              2
# ContinuationIndentWidth:                      0
DerivePointerBinding:                           true
# ExperimentalAutoDetectBinPacking:             true
ExperimentalAutoDetectBinPacking:               false
IndentCaseLabels:                               true
# IndentWrappedFunctionNames:                   true
MaxEmptyLinesToKeep:                            2
NamespaceIndentation:                           None
ObjCSpaceBeforeProtocolList:                    true
PenaltyBreakBeforeFirstCallParameter:           19
PenaltyBreakComment:                            60
PenaltyBreakString:                             1
PenaltyBreakFirstLessLess:                      1000
PenaltyExcessCharacter:                         1000
PenaltyReturnTypeOnItsOwnLine:                  90
PointerBindsToType:                             false
SpacesBeforeTrailingComments:                   2
Cpp11BracedListStyle:                           false
Standard:                                       Auto
IndentWidth:                                    2
TabWidth:                                       2
UseTab:                                         Never
# BreakBeforeBraces:                            Chromium
IndentFunctionDeclarationAfterType:             false
SpacesInParentheses:                            false
SpacesInAngles:                                 false
SpaceInEmptyParentheses:                        false
SpacesInCStyleCastParentheses:                  false
SpaceAfterControlStatementKeyword:              true
SpaceBeforeAssignmentOperators:                 true
ContinuationIndentWidth:                        4

SortIncludes:                                   false
ReflowComments:                                 true
...
